# Sistem dosyaları
.DS_Store

# Paketler
node_modules/
.venv/

# Gizli bilgiler (API anahtarları)
.env

# Deneme dosyaları GitHub'a yüklenmez
denemeler/

# İçinde API anahtarı olan dosyalar
hafta-2/getiri-sayfasi/index.html
